.white-icon {
  color: white;
}

.button-as-link-nav {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.button-as-link-nav:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.border {
  border: 2px dashed black;
}

.margin-top-20 {
  margin-top: 20px
}

td a {
  display: block;
  color: black;
}

.margin-right-5 {
  margin-right: 5px
}
